*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  padding: 10px;
  width: 500px;
  height: 150px;
  background-color: rgb(82, 64, 52);
  margin: 50px auto;
}
.section{
  width: 50px;
  height: 50px;
  background-color: brown;
  margin: 50px 100px;

}
.header{
  width: 50px;
  height: 50px;
  background-color: brown;
  margin: 50px 0;
  animation: squareAnim;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  
}
@keyframes squareAnim{
  0%
  {
    width: 50px;
    height: 50px;
    background-color: brown;
    margin: 50px 0; 
  }
  20%
  {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(182, 233, 71);
    margin: 50px 50px; 
  }
  40%
  {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(170, 100, 100);
    margin: 50px 100px; 
  }
  60%
  {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: rgb(168, 129, 129);
    margin: 50px 150px; 
  }
  80%
  {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(232, 195, 195);
    margin: 50px 200px; 
  }
  100%
  {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(233, 221, 221);
    margin: 50px 250px; 
  }
}

/* -------------------------------Task 1 tugadi -------------------------------------------------- */




/* -------------------------------Task 2 boshlandi -------------------------------------------------- */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .task_2{
    padding: 10px;
    width: 500px;
    height: 150px;
    background-color: rgb(82, 64, 52);
    margin: 50px auto;
  }

  .anim_1{
    width: 20px;
    height: 20px;
    background-color: rgb(200, 103, 103);
    margin: 10px 100px;
    animation-name: task_1_anim;
    animation-duration: .4s;
    animation-delay: .1s;

}

.anim_2{
    width: 20px;
    height: 20px;
    background-color: rgb(200, 103, 103);
    margin: 15px 100px;
    animation-name: task_2_anim;
    animation-duration: .4s;
    animation-delay: .2s;
    
}

.anim_3{
    width: 20px;
    height: 20px;
    background-color: rgb(200, 103, 103);
    margin: 10px 100px;
    animation-name: task_3_anim;
    animation-duration: .4s;
    animation-delay: .3s;

}


@keyframes task_1_anim{
    0%{
        margin-left: 100px;
        background-color: bisque;
    }

    100%{
        margin-left: 300px;
        background-color: bisque;
    }
}


@keyframes task_2_anim{
    0%{
        margin-left: 100px;
        background-color: bisque;
    }

    100%{
        margin-left: 300px;
        background-color: bisque;
    }
}

@keyframes task_3_anim{
    0%{
        margin-left: 100px;
        background-color: bisque;
    }

    100%{
        margin-left: 300px;
        background-color: bisque;
    }
}

/* -------------------------------Task 2 tugadi -------------------------------------------------- */
